<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="font-family: 'Roboto', sans-serif;margin-top:100px;background-color:white;">
    <div class="container col-lg-4 " style="background-color:gray;">


    {% block content %}

    {% endblock %}
    </div>
  </body>
</html>
